<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sifut Resto 2022</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
		/>
	</head>

	<body>
		<a tabindex="1" href="#container" class="skip-link">Menuju ke konten</a>

		<nav id="home">
			<div class="bg-img">
				<div id="logo">
					<ul>
						<a tabindex="2" href="./" aria-label="logo sifut resto">
							<li><img src="./images/logo.png" alt="logo sifut resto" /></li>
						</a>
					</ul>
				</div>
				<div id="burger">
					<a tabindex="3" href="#" aria-label="menu bar">
						<i class="fas fa-bars" style="color: white"></i>
					</a>
				</div>
				<div id="drawer">
					<ul>
						<a tabindex="4" href="./" aria-label="menu home">
							<li>Home</li>
						</a>
						<a tabindex="5" href="#" aria-label="menu favorite">
							<li>Favorite</li>
						</a>
						<a
							tabindex="6"
							href="https://www.instagram.com/syaahrul31_/?next=%2F"
							aria-label="menu about us"
						>
							<li>About Us</li>
						</a>
					</ul>
				</div>
			</div>
		</nav>

		<br />

		<header>
			<div class="title-header">
				<h1 tabindex="7">Welcome to Sifut Resto!</h1>
			</div>
		</header>

		<br />

		<main id="container">
			<div id="content">
				<h1 tabindex="8">Explore Restaurant</h1>
				<div class="cards" id="cards"></div>
				<br />
			</div>
		</main>

		<br />

		<footer>
			<ul>
				<a tabindex="18" href="#home" aria-label="copyright 2022 - Sifut Resto">
					<li>Copyright &copy;2022 - Sifut Resto</li>
				</a>
			</ul>
		</footer>
	</body>
</html>
