footer {
	background-image: linear-gradient(70deg, rgb(179, 0, 0), rgb(216, 79, 0));
}

footer ul a {
	box-sizing: border-box;
	text-decoration: none;
	min-width: 44px;
	min-height: 44px;
	margin: auto;
}
footer ul a li {
	list-style-type: none;
	color: aliceblue;
	text-shadow: 2px 2px 3px rgb(136, 0, 0);
	text-align: center;
	font-size: 170%;
	padding: 15px;
	width: 100%;
	height: 100%;
}

footer a li:hover {
	font-size: 177%;
}
