nav {
	width: 100%;
	background-image: url(../public/images/bgnav.jpg);
}

.bg-img {
	background-image: linear-gradient(
		45deg,
		rgb(179, 0, 0),
		rgba(216, 79, 0, 0.7)
	);
}

#logo,
#burger {
	margin: auto;
}

#drawer {
	margin: auto;
}

#drawer ul a {
	margin: auto;
	color: aliceblue;
	text-decoration: none;
	box-sizing: border-box;
	min-width: 44px;
	min-height: 44px;
}

ul li {
	list-style-type: none;
	min-width: 44px;
	min-height: 44px;
}

.ul-back{
	width: 20%;
	min-width: 44px;
	min-height: 44px;
}

@media screen and (min-width: 768px) {
	.bg-img {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#logo ul li {
		list-style-type: none;
	}

	#logo ul li img {
		width: 25%;
	}

	#burger {
		display: none;
	}

	#drawer ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		color: aliceblue;
		margin: auto;
		text-shadow: 2px 2px 3px rgb(136, 0, 0);
	}

	#drawer ul a li {
		font-size: 180%;
		padding: 30px;
	}

	#drawer ul a li:hover {
		border-radius: 10px;
		background-image: linear-gradient(45deg, rgb(153, 10, 0), rgb(146, 10, 0));
	}
}

@media screen and (max-width: 768px) {
	.bg-img {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	#logo ul li {
		list-style-type: none;
	}

	#logo img {
		width: 55%;
	}

	#burger {
		color: aliceblue;
		box-sizing: border-box;
		min-width: 44px;
		min-height: 44px;
	}

	#burger button{
		background: none;
		border: none;
		font-size: 60px;
	}
	
	#burger button:hover {
		font-size: 65px;
	}

	#drawer {
		width: 250px;
		height: 100%;
		position: absolute;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);

		transform: translate(-250px, 0);
		transition: transform 0.3s ease-in-out;
		background-image: linear-gradient(70deg, rgb(133, 0, 0), rgb(163, 60, 0));
	}

	#drawer ul a li {
		font-size: 150%;
		margin: auto;
		padding: 20px;
	}

	#drawer ul a li:hover {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		background-image: linear-gradient(
			45deg,
			rgb(196, 72, 35),
			rgb(190, 65, 16)
		);
	}

	#drawer.open {
		transform: translate(0, 0);
	}
}
