<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Free resto catalogue for you">
		<meta name="theme-color" content="#DB0000"/>

		<link rel="apple-touch-icon" href="/icons/192x192.png">
		<link rel="icon" href="./favicon.png">
		<link rel="manifest" href="./app.webmanifest">
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
		/>

		<title>Sifut Resto 2022</title>
	</head>

	<body>
		<a tabindex="0" href="#container" class="skip-link">Menuju ke konten</a>

		<nav id="home">
			<div class="bg-img">
				<div id="logo">
					<ul class="ul-logo">
						<li><img tabindex="2" src="./images/logo.png" alt="logo sifut resto" /></li>
					</ul>
				</div>
				<div id="burger">
					<button aria-label="menu bar">
						<i class="fas fa-bars" style="color: white"></i>
					</button>
				</div>
				<div id="drawer">
					<ul>
						<a href="/" aria-label="menu home">
							<li>Home</li>
						</a>
						<a href="#/favorite" aria-label="menu favorite">
							<li>Favorite</li>
						</a>
						<a
							href="https://github.com/syaahrul31"
							target="_blank"
							aria-label="menu about us"
						>
							<li>About Us</li>
						</a>
					</ul>
				</div>
			</div>
		</nav>

		<br />

		<main id="container" tabindex="0"></main>

		<br />

		<footer>
			<ul>
				<a  href="https://themoviedb.org" target="_blank" rel="noreferrer" aria-label="copyright 2022 - Sifut Resto">
					<li>Copyright &copy;2022 - Sifut Resto</li>
				</a>
			</ul>
		</footer>
	</body>
</html>
