app-bar {
  padding: 16px;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(139, 33, 0) 20%, rgba(0, 18, 68, 0));
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display:inline-flex;
}

app-bar:hover{
  background-image: linear-gradient(90deg, rgb(107, 39, 0) 20%, rgba(26, 67, 70, 0));
}

app-bar .head-tittle{
  float: right;
  width: 94%;
  margin: auto;
} 

app-bar .head-tittle h2{
  font-family: Lexend, sans-serif;
  padding-bottom: 1px;
}
app-bar .head-tittle p{
  font-size: 12px;
  font-family: Lexend, sans-serif;
}

header{
  background-size: cover;
  background-position: center;
  animation: slide 20s infinite;
}

@keyframes slide{
  0%{
      background-image: url(../img/slide1.png);
  } 25%{
      background-image: url(../img/slide2.png);
  } 50%{
      background-image: url(../img/slide3.png);
  } 75%{
      background-image: url(../img/slide4.png);
  } 100%{
      background-image: url(../img/slide1.png);
  } 
}

footer{
  padding: 16px;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(139, 33, 0) 20%, rgba(155, 62, 0));
  font-family: 'Lexend', sans-serif;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

footer:hover{
  background-image: linear-gradient(90deg, rgb(126, 36, 0) 20%, rgb(173, 49, 0));
}