.search-container {
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 5px;
  display: flex;
  position: sticky;
  top: 10px;
  background-color: white;
}

.search-container > input {
  width: 75%;
  padding: 16px;
  border: 0;
  border-bottom: 1px solid rgb(160, 92, 60);
  font-weight: bold;
  font-family: Lexend, sans-serif;
}

.search-container > input:focus {
  outline: 0;
  border-bottom: 1px solid rgb(160, 92, 60);
}

.search-container > input:focus::placeholder {
  font-weight: bold;
}

.search-container > input::placeholder {
  color: rgb(160, 92, 60);
  font-weight: normal;
}

.search-container > button {
  width: 23%;
  cursor: pointer;
  margin-left: auto;
  padding: 16px;
  background-image: linear-gradient(90deg, rgb(139, 33, 0) 20%, rgba(155, 62, 0));
  border-radius: 5px;
  font-family: Lexend, sans-serif;
  color: white;
  border: 0;
  text-transform: uppercase;
}

.search-container > button:hover{
  background-image: linear-gradient(90deg, rgb(126, 36, 0) 20%, rgb(173, 49, 0));
}

@media screen and (max-width: 550px) {
  .search-container{
    flex-direction: column;
    position: static;
  }

  .search-container > input {
    width: 100%;
    margin-bottom: 12px;
  }

  .search-container > button {
    width: 100%;
  }
}