@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lexend&family=Quicksand:wght@400;700&display=swap');
@import 'appbar.css';
@import 'descript.css';
@import 'search.css';
@import 'meallist.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}
